<p id="notice"><%= notice %></p>

<p>
  <strong>Payit:</strong>
  <%= @model.PayIt %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @model.surname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @model.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @model.email %>
</p>

<p>
  <strong>Grades image:</strong>
  <%= @model.grades_image %>
</p>

<p>
  <strong>Region type:</strong>
  <%= @model.region_type %>
</p>

<p>
  <strong>Exam regional rank:</strong>
  <%= @model.exam_regional_rank %>
</p>

<p>
  <strong>Exam overall rank:</strong>
  <%= @model.exam_overall_rank %>
</p>

<p>
  <strong>City:</strong>
  <%= @model.city %>
</p>

<p>
  <strong>School:</strong>
  <%= @model.school %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @model.payment_id %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
