<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="direction: rtl">
<p>دوست گرامی</p>
<p>
شما برای شرکت در رویداد <%=event.title%> کد تخفیف دریافت کرده اید.
<br>
<b>کد شما: <%=cut_code%></b>
</p>
<p>
	لطفا در هنگام ثبتنام گزینه <%=price_model.name%> را انتخاب کرده و کد تخفیف خود را وارد کنید<br>
	همچنین لازم به ذکر است که این کد تخفیف را به هر کس دیگری که دوست داشتید میتوانید بدهید. اما این کد فقط یک بار قابل استفاده است.
</p>
<p>
    شما می‌توانید با رفتن به صفحه‌ی
    <a href="http://acm.ut.ac.ir/events/events/<%=event.id%>">
      <strong>
        <%= event.title %>
      </strong>
    </a>

    در این رویداد ثبت نام کنید.
  </p>
<p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
</body>
</html>