<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="direction: rtl">
  <p>
    کاربر عزیز
    <strong> <%= profile.credentials %></strong>
  </p>
  <p>
    ثبت‌نام رویداد
    <%= event.title %>
    آغاز شده‌است.
  </p>
    <p>
    شما می‌توانید با رفتن به صفحه‌ی
    <a href="acm.ut.ac.ir/events/events/<%=event.id%>">

      <strong>
        <%= event.title %>
      </strong>
    </a>

    اطلاعات بیشتر این رویداد را مشاهده کنید و در آن ثبت‌نام کنید.
  </p>
  <p>
    هزینه‌ی ثبت‌نام این رویداد
    <%= price %>
    ریال است.
  </p>
  <p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
		<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
  </body>
</html>
