<html>
<head><link href="/events/assets/application-b6dbcc014b6b97898fc61b3f2297e03b.css" media="all" rel="stylesheet"></head>
<body style="background-color:#F7F7F7">
<style>
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #34495E;
    background-color: #FFF;
    background-image: none;
    border: 2px solid #BDC3C7;
    border-radius: 4px;
    margin: 10px;
    transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
}
</style>

<div class="col-lg-12">
    <div class="container col-md-4 col-md-offset-4 pan" style="width:20%; margin-left:40.33%">
<%= form_for(@payer) do |f| %>
  <% if @payer.errors.any? %>
    <div id="error_explanation">
      <h2><%= @payer.errors.count%> خطا مانع ثبت نام صحیح شما شد:</h2>

      <ul>
      <% @payer.errors.messages.each do |message| %>
        <li><%= message.second %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :name, class:  'form-control',:placeholder=>"نام" %>
  </div>
  <div class="input-group">
    <%= f.text_field :surname, class:  'form-control',:placeholder=>"نام خانوادگی" %>
  </div>
  <div class="input-group">
    <%= f.text_field :mobile, class:  'form-control' ,:placeholder=>"موبایل"%>
  </div>
  <div class="input-group">
    <%= f.text_field :email, class:  'form-control' ,:placeholder=>"ایمیل"%>
  </div>
  <div class="input-group">
    <%= f.text_field :region_type, class:  'form-control' ,:placeholder=>"سهمیه"%>
  </div>
  <div class="input-group">
    <%= f.number_field :exam_regional_rank, class:  'form-control', style: "width:93%" ,:placeholder=>"رتبه در منطقه"%>
  </div>
  <div class="input-group">
    <%= f.number_field :exam_overall_rank, style: "width:93%", class:  'form-control' ,:placeholder=>"رتبه در کشور"%>
  </div>
  <div class="input-group">
    <%= f.text_field :city, class:  'form-control' ,:placeholder=>"شهر"%>
  </div>
  <div class="input-group">
    <%= f.text_field :school, class:  'form-control',:placeholder=>"دبیرستان" %>
  </div>
  <div class="actions">
    <%= f.submit "ثبت نام",class: 'btn btn-primary ',:style=>"margin:10px"%>
  </div>
<% end %>
</div></div>
</body>
</html>