<html>
<body style="background-color:#FFFACD">
<%= form_for(@payer) do |f| %>
  <% if @payer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payer.errors.count, "error") %> prohibited this payer from being saved:</h2>

      <ul>
      <% @payer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label 'نام' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-control">
    <%= f.label 'نام خانوادگی' %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="form-control">
    <%= f.label 'موبایل' %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="form-control">
    <%= f.label 'ایمیل' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-control">
    <%= f.label 'سهمیه منطقه' %><br>
    <%= f.text_field :region_type %>
  </div>
  <div class="form-control">
    <%= f.label 'رتبه در منطقه' %><br>
    <%= f.number_field :exam_regional_rank %>
  </div>
  <div class="form-control">
    <%= f.label 'رتبه در کشور' %><br>
    <%= f.number_field :exam_overall_rank %>
  </div>
  <div class="form-control">
    <%= f.label 'شهر' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="form-control">
    <%= f.label 'دبیرستان' %><br>
    <%= f.text_field :school %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>