<html>
<body style="background-color:#F7F7F7">
<style>
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #34495E;
    background-color: #FFF;
    background-image: none;
    border: 2px solid #BDC3C7;
    border-radius: 4px;
    transition: border-color 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
}
</style>
<%= form_for(@payer) do |f| %>
  <% if @payer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payer.errors.count, "error") %> prohibited this payer from being saved:</h2>

      <ul>
      <% @payer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label 'نام'  %><br>
    <%= f.text_field :name, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'نام خانوادگی' %><br>
    <%= f.text_field :surname, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'موبایل' %><br>
    <%= f.text_field :mobile, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'ایمیل' %><br>
    <%= f.text_field :email, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'سهمیه منطقه' %><br>
    <%= f.text_field :region_type, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'رتبه در منطقه' %><br>
    <%= f.number_field :exam_regional_rank, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'رتبه در کشور' %><br>
    <%= f.number_field :exam_overall_rank, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'شهر' %><br>
    <%= f.text_field :city, class:  'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label 'دبیرستان' %><br>
    <%= f.text_field :school, class:  'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>