<div class="event">

  <div class="column">
		<span class="feature date">
			<p class="day"><%= event.begins.to_parsi.strftime("%d") %></p>
			<p class="month"><%= event.begins.to_parsi.strftime("%B") %></p>
		</span>
        <span class="feature" >
      <p>
        <%= event.participants.count %>
      </p>
        <p class="info">
          علاقه‌مند
        </p>
    </span>
    <!--<span class="feature audiences">-->
    <!--<i class="audience"></i>-->
    <!--<p class="info"><%= "#{event.participants.count} are going" %></p>-->
    <!--</span>-->
    <% if event.can_register? %>
		<span class="feature register link" id="register<%= event.id %>">
		    <% if current_user and event.participations.where("payed = ?", true).where("profile_id = ?", current_user.profile.id).count > 0 %>
                <%= link_to "#", :remote => true, :style => 'display: block' do %>
                    <i class="check"></i>
	    			<p class="info">
              <%if event.category=="Product"%>
              این محصول را خریده ام
              <%else%>
                      در این رویداد ثبت‌نام کرده‌ام
                      <%end%>
                    </p>
                <% end %>
                        <% elsif event.is_full? %>
                <!--<i class=""></i>-->
				<p class="info">
          <%if event.category=="Product"%>
            محصول تمام شد!
          <%else%>
            ظرفیت تمام شده‌است.
          <%end%>
                </p>
            <% elsif current_user and event.participants.include? current_user.profile %>
                  <%= link_to cancel_book_event_path(event), :remote => true, :data => {:confirm => 'آیا مطمئن هستید که می‌خواهید لغو کنید؟'}, :method => :delete, :style => 'display: block' do %>
                    <i class="check"></i>
	    			<p class="info">
                      شرکت خواهم کرد! </p>
                  <% end %>
			<% elsif !event.is_full? %>

				<% if current_user %>
        <%if event.is_conference_like%>
                    <%= link_to '/#','data-toggle'=>"modal",'data-target'=>"#myModal"+event.id.to_s, :style => 'display: block;', :onclick=>"$(.modal).style.display=''" do %>
                        <i class="link"></i>
                        <p class="info">
                          دوست دارید شرکت کنید؟ </p>
                          <%end%>
                <%else%>
                    <%= link_to book_event_path(event), :method => :post, :style => 'display: block;', :remote => true do %>
                        <i class="link"></i>
                        <p class="info">
                          <%if event.category=="Product"%>
                          دوست دارم بخرم.
                          <%else%>
                          دوست دارید شرکت کنید؟
                          <%end%>
                        </p>
                  <%end%>
                    <% end %>
                <% else %>

                  <%= link_to new_user_session_path, :method => :post, :style => 'display: block;' do %>
                        <i class="link"></i>
                        <p class="info">
                          <%if event.category=="Product"%>
                          برای خرید وارد شوید!
                          <%else%>
                          برای ثبت‌نام وارد شوید!
                          <%end%>
                        </p>
                    <% end %>
                <% end %>
            <% else %>
                <!--<i class=""></i>-->
				<p class="info">Full!</p>
			<% end %>
		</span>
    <% end %>
<div class="modal fade" id="myModal<%=event.id%>" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          <%=form_tag book_conference_event_path(event),:remote=>true do%>
            <li><%=label_tag 'نوع ثبتنام:'%><br>
            <%=select_tag :price_model_id, options_from_collection_for_select(PriceModel.where(:event=>event),:id,:name),:id=>"price_model_id_#{event.id}"%></li>
            <li id="cut_code_<%=event.id%>" style="display:none;"><%=label_tag 'کد تخفیف:'%><br>
            <%=text_field_tag :cut_code%></li>
            <%=submit_tag 'انتخاب'%>
          <%end%>
        </div>
      </div>
    </div>
  </div>

    <% if event.can_register? == false %>

    <span class="feature register link" style="background-color: #e74c3c; color: white" >
				<p class="info">
                  <%if event.category=="Product"%>
زمان خرید این رویداد به اتمام رسیده است
<%else%>
زمان ثبت نام این رویداد به اتمام رسیده است
. در صورتی که تا به حال ثبت نام نکرده‌اید به دفتر شاخه‌ مراجعه کنید.
<%end%>
                </p>
    </span>

    <% event.tag_list.each do |t|%>
    <div class="tags">
    <a href="search?tags=<%=t%>">
      <%=t%>
    </div> 
  </a>
  <%end%>

  <% if event.begins < Time.now && event.report %>

    <span class="feature register link">
               <%= link_to event.report do %>
               <p class="report">
                گزارش
               </p>
              <% end %>
    </span>

    <% end %>
    <%end%>
    <div id="sabt<%=event.id%>">
    </div>
    <div id="more_info<%= event.id %>">
        <span class="feature register link">
               <%= link_to event do %>
				<p class="info">
                  اطلاعات بیش‌تر
                </p>
              <% end %>
		</span>
    </div>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="small-detail">
        <div class="title"><%= event.title %></div>
        <br>
        <% event.officerships.each do |o| %>
            <div class="authors">
              <%= o.profile.credentials %>
            </div>
            <div class="info">
              <p><%= raw o.description %></p>
            </div>
        <% end %>
      </div>
      <div class="big-detail">
        <div class="wrapper">
          <div class="poster-wrapper">
            <%= image_tag event.poster.url, :class => 'poster' %>
          </div>
          <div class="text-wrapper">
            <div class="sentence"><%= event.sentence %></div>
            <br>

            <div class="summary">
              <%= raw event.summary %>

            </div>
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" lang="javascript">
    <%if event.is_conference_like%>
       $("#price_model_id_<%=event.id%>").change(function () {
        arr=<%=PriceModel.includes(:coupons).where(:event=>event).where.not(:coupons=>{:price_model_id=>nil}).ids.map{|i|i.to_s}.to_s.html_safe%>;
        if(jQuery.inArray( $('#price_model_id_<%=event.id%>').val(), arr )==-1)
          $("#cut_code_<%=event.id%>").hide();
        else
          $("#cut_code_<%=event.id%>").show();
      });
    <%end%>
</script>

<% content_for :extra_js do %>
    <script type="text/javascript" lang="javascript">
        $(document).ready(function () {
            $('#login').click(function () {
                $.get('/users/sign_in', function (data) {
                    $('#main-modal-body').html(data);
                });
            });
        });
    </script>
<% end %>