<div class="container">
  <div class="widget green">
    <div class="widget-title">
      <h4>Event</h4>
    </div>
    <div class="widget-body">
      <%= form_for @event, :html => {:autocomplete => 'off'} do |f| %>
          <div class="control-group">
            <label class="control-label">Title</label>

            <div class="controls">
              <%= f.text_field :title, :required => true, :autofocus => true %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Sentence</label>

            <div class="controls">
              <%= f.text_field :sentence %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Description</label>

            <div class="controls">
              <%= f.text_area :description %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Summary</label>

            <div class="controls">
              <%= f.text_area :summary %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Begins</label>

            <div class="controls">
              <%= f.datetime_select :begins %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Venue</label>

            <div class="controls">
              <%= f.text_field :venue %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Category</label>

            <div class="controls">
              <%= f.text_field :category,:onchange=>"category_change" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Capacity</label>

            <div class="controls">
              <%= f.number_field :capacity, in: 1...1000 %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Price</label>

            <div class="controls">
              <%= f.text_field :price %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Poster</label>

            <div class="controls">
              <%= f.file_field :poster %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Tags(comma seperated)</label>
              <%= f.text_field :tag_list %>
            </div>
          </div>

          <div class="control-group" id="price_model_main">
            <label class="control-label">Price Model</label>
            <div id="price_model_panel">
            </div>
            <button onclick="add_price_model()">+</button>
          </div>
          <div class="form-actions">
            <%= f.submit 'Submit', :class => 'btn submit' %>
            <%= link_to 'Cancel', root_path, :class => 'btn' %>
          </div>
      <% end %>
    </div>
  </div>

</div>

<script>
    function add_price_model() {
        document.getElementById("price_model_panel").innerHTML += "<br><input type='text' name='price_model_title_"+(window.price_model_size+1).toString()+"'/>  : <input type='text' name='price_model_price_"+(window.price_model_size+1).toString()+"'/>";
        window.price_model_size++;
    }
    </script>
    <script>
    function category_change() {
        var x = document.getElementById("event_category").value;
        if (x=="Conference")
          document.getElementById("price_model_main").style.display = '';
        else
          document.getElementById("price_model_main").style.display = 'none';
    }
    </script>


<% content_for :extra_js do %>

    <script type="text/javascript">
        $(document).ready(function () {
          window.price_model_size=0;
          add_price_model();
            $('select').chosen({width: '100%'});
        });

    </script>
<% end %>