<% if @error %>
alert("<%= @error %>");
<% else %>
$('#register<%=@event.id%>').html('<%= link_to  book_event_path(@event), :method => :post, :style => 'display: block;', :remote => true do %>' +
      ' <i class="link"></i>' +
    '<p class="info">' +
    'دوست دارید شرکت کنید؟' +
    '</p>' +
'<% end %>');
//$('#more_info<%=@event.id%>').html('');
$('#sabt<%=@event.id%>').html('');
<% end %>