<div class="container">
  <div class="header">
    <div class="title">
      <%= @title %>
    </div>
    <div class="summary">
      <h4>
        شما می‌توانید با ثبت‌نام در سایت و شرکت در رویداد مورد نظر خود، از اخبار بعدی آن رویداد و هم‌چنین
        رویداد‌های جدید آگاه شوید. </h4>
    </div>
  </div>
  <% @events.each do |event| %>
      <%= render 'event_card', :event => event %>
  <% end %>
  <div class="header">
    <div class="title">
        رویداد‌های گذشته
    </div>
  </div>

  <div class="modal-content">
        <div class="modal-body">
          <%=form_tag 'book_conference' do%>
            <%=hidden_field_tag :event_id, event.id%>
            <%=select_tag :model_id, PriceModel.all.collect { |e| [ e.name, e.id ] }%>
          <%end%>
        </div>
      </div>

  <% @archives.each do |event| %>
      <%= render 'event_card', :event => event %>
  <% end %>
</div>
