
<div class="container">
  <div class="widget green">
    <div class="widget-title">
      <h4>
پایان
<%if @participation.event.category=="Product"%>
خرید
<%else%>
ثبت‌نام
<%end%>
      </h4>
    </div>
    <div class="widget-body">

      <div class="control-group" style="direction: rtl">
        <p>
          <%if @participation.event.category=="Product"%>
          شما محصول
          <%else%>
              شما در رویداد
          <%end%>

          <strong>     <%= @participation.event.title %></strong>
          <%if @participation.event.category=="Product"%>
          را خریدید
          <%else%>
          ثبت‌نام کردید 
          <%end%>
          و مبلغ
          <strong><%= @participation.get_price %> </strong>
          ریال از اعتبار شما کسر شد.
        </p>
        <%if @participation.event.category=="Product"%>
            <%send_file(
      @participation.event.product_address,
        :filename => @participation.event.title)%>
        <%end%>
        <% if @participation.event.is_conference_like%>
        <div>
          <%token=@participation.enroll_token%>
          <%token||=@participation.create_enroll_token%>
          <%@participation.update(:enroll_token=>token)%>
          <%if @participation.errors.messages.size>0%>
          <%="#{@participation.errors.messages.first} خطا :  #{@participation.errors.messages.first}"%>
          لطفا هرچه سریعتر به شاخه دانشجویی ای سی ام اطلاع دهید.
          <%end%>
           <%=image_tag "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=#{check_token_event_path(@participation.event,token)}"%> 
           <br>
           لطفا این صفحه را پرینت کرده و با خود بیاورید.
        </div>
        <%end%>

        <div class="controls">
          <!--<div class="btn panel-primary">-->
            <%= link_to @participation.event.title, @participation.event, :class =>"btn panel-primary"%>
          <!--</div>-->
        </div>
      </div>

    </div>
  </div>
</div>