<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pay_it.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @pay_it.surname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @pay_it.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pay_it.email %>
</p>

<p>
  <strong>Grades image:</strong>
  <%= @pay_it.grades_image %>
</p>

<p>
  <strong>Region type:</strong>
  <%= @pay_it.region_type %>
</p>

<p>
  <strong>Exam regional rank:</strong>
  <%= @pay_it.exam_regional_rank %>
</p>

<p>
  <strong>Exam overall rank:</strong>
  <%= @pay_it.exam_overall_rank %>
</p>

<p>
  <strong>City:</strong>
  <%= @pay_it.city %>
</p>

<p>
  <strong>School:</strong>
  <%= @pay_it.school %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @pay_it.payment_id %>
</p>

<%= link_to 'Edit', edit_pay_it_path(@pay_it) %> |
<%= link_to 'Back', pay_its_path %>
