<h1>Listing class_sessions</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Duration</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_sessions.each do |class_session| %>
      <tr>
        <td><%=link_to class_session.event.title, class_session.event %></td>
        <td><%= class_session.duration %></td>
        <td><%= class_session.start_time %></td>
        <td><%= link_to 'Show', class_session %></td>
        <td><%= link_to 'Edit', edit_class_session_path(class_session) %></td>
        <td><%= link_to 'Destroy', class_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class session', new_class_session_path %>
