<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'fa'} %>

   <% event_id_map=[] %>
   <% Event.all.each do |e| %>
      <% event_id_map<<[e.title,e.id]%>
   <%end%>

   <%=select_tag(:event,options_for_select(event_id_map)) %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
