<!DOCTYPE html>
<html>
<head>
  <title>ACM</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_js %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="display: table; width: 100%">
        <div class="container-fluid" id="main-modal-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="fa fa-times"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-acm navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="acm-logo" src="/events/assets/logo-small.png">
      <a class="navbar-brand" href="/">ACM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/events">Events</a></li>
        <li><a href="/events/category/Ring">
          حلقه
        </a></li>
        <!--<li><a href="/events/category/Lab">-->
          <!--کار‌آموزی-->
        <!--</a></li>-->
        <li><a href="/events/category/Class">
          کلاس‌ها
        </a></li>
        <li><a href="/events/category/Workshop">
  ورک‌شاپ‌
	</a></li>
	<li><a href="/events/category/Conference"> همایش
	
        </a></li>
	<li><a href="/events/category/Talk">تاک </a></li>
  <li><a href="/events/category/Product">
  محصولات قابل خرید
  </a></li>
  <!--<li><%=link_to "جستجو" ,controller: "events", action: "search"%></li>-->
  
        <!--<li><a href="/events/events/25">-->
<!--<strong>-->
  <!--F1-->
<!--</strong>-->
        <!--</a></li>-->

<li>
      <button style="border-color:#fff;text-align:center" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        انتخاب سال <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" style="background-color: #969696;">
        <% (1393..Time.now.to_parsi.year).each do |y| %>
  <li><%=link_to "سال "+y.to_s ,filter_by_year_path(:year=>y.to_s)%></li>
  <%end%>
      </ul></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>



        <li><%= image_tag current_user.profile.avatar.url(:thumb) ,:size => '50x50'%></li>
            <li><%= link_to current_user.profile.credentials + " (تنظیمات)", '/events/profiles/' + current_user.profile.id.to_s + '/edit' %></li>
            <li><%= link_to 'رویداد‌های من', current_user.profile %> </li>
            <li><%= link_to 'خروج', destroy_user_session_path, :method => :delete %> </li>
        <% else %>
            <li><%= link_to 'ورود', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<% if notice %>
<div class="notice"><%= notice %></div>
    <% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <%= yield %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      if ($('textarea.ckeditor').length > 0) {
          var data = $('textarea.ckeditor');
          $.each(data, function(i) {
              CKEDITOR.replace(data[i].id);
          });
      }
  });
</script>
</body>
</html>
